.hidden {
    display: none;
}

#bgimg {
    height: 100vh;
    background-size: cover;
}

body {
    color: white;
    
}

#weather {
    position: fixed;
    top: 1em;
    right: 1em;
    font-size: 20px;
}

#main {
    text-align : center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clock{
    font-size: 150px;
    padding-bottom: 40px;
}

#login-box {
    width: 300px;
    height: 55px;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

#todo-box {
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
    color: white;
    font-size: 25px;
}

::placeholder {
    color: white;
    font-size: 30px;
    text-align: center;
}

#todo-box::placeholder {
    font-size: 25px;
}

#todo-list {
    list-style:none;
    padding-left:0px;
}

#quote {
    font-size: 10;
}

.weatherImg {
    vertical-align: bottom;
}